.avatar-img img:hover {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

#aside-content .card-info .card-info-social-icons i:hover {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

.poem-image {
  margin: 2rem 0 0;
  text-align: center;
}

#article-container .poem-image img {
  display: inline-block;
  width: 50%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  #article-container .poem-image img {
    width: 100%;
  }
}
